#navbar-brand-logo {
  width: 100%;
  height: 170px;
  position: relative; 
  top: -20px
}

header.navbar {
  border-bottom: 1px solid var(--bs-secondary);
  padding: 1rem;
  background-color: var(--bs-info);
}